@charset "UTF-8";
body {
    background-color: #f5f2e5;
    margin: 0;
}


div{
    border-width: 3px;
    border-style: solid;
    background-color: white;
    width: 500px;
    margin-left: 35%;
}

.main-content{
    text-align: center;
    margin-top: 10%;
}